.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 20px 0;
  background-color: $background-color;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 42px;
  margin-right: 15px;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.navbar-list{
  display: flex;
  align-items: center;
  justify-content: center;
  &:first-child{
    margin-left: 50px;
  }
  &:last-child {
    margin-right: 50px;
  }
}

.navbar-item {
  margin-right: 15px;
  cursor: pointer;

  &:last-child {
    margin-right: 0px;
  }
}


.navbar-link {
  display: inline-block;
  color: $second-primary-color;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.navbar-link:after {
  display: block;
  content: "";
  background-color: $primary-color;
  height: 3px;
  width: 0%;
  left: 50%;
  position: absolute;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
.navbar-link.router-link-exact-active:after,
.navbar-link:hover:after,
.navbar-link:focus:after {
  width: 100%;
}

