// Main color
$background-color        : #f7f7f7;


$primary-color           : #9D4EDD;
$second-primary-color    : #D5AAE1;

$success-color           : #26de81;
$danger-color            : #fc5c65;
$warning-color           : #fed330;





// Controls
$border-color             : #D5AAE1;
$border-base              : #DCDFE6;

$label-color              : #9D4EDD;

$input-color              : #9D4EDD;

$placeholder-color        : #9D4EDD;

$checkbox-color           : #9D4EDD;

// Actions
$hover-color              : #9D4EDD;

// Elements
$delete-cross-color       : white;
$text-alternative-color   : white;          
// Buttons
$colors: (
  fill: #9D4EDD,
  pulse: #9D4EDD, 
  close: #9D4EDD, 
  raise: #9D4EDD, 
  up: #9D4EDD, 
  slide: #9D4EDD, 
  offset: #9D4EDD
);












// // Main color
// $background-color        : #f7f7f7;


// $primary-color           : #4A2A0B;
// $second-primary-color    : #B6A89A;

// $success-color           : #26de81;
// $danger-color            : #fc5c65;
// $warning-color           : #fed330;





// // Controls
// $border-color             : #B6A89A;
// $border-base              : #DCDFE6;

// $label-color              : #4A2A0B;

// $input-color              : #4A2A0B;

// $placeholder-color        : #4A2A0B;

// $checkbox-color           : #4A2A0B;

// // Actions
// $hover-color              : #4A2A0B;

// // Elements
// $delete-cross-color       : white;
// $text-alternative-color   : white;          
// // Buttons
// $colors: (
//   fill: #4A2A0B,
//   pulse: #4A2A0B, 
//   close: #4A2A0B, 
//   raise: #4A2A0B, 
//   up: #4A2A0B, 
//   slide: #4A2A0B, 
//   offset: #4A2A0B
// );
